# User-specific files
*.user


# Build results
[Dd]ebug/
[Rr]elease/
build/


# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code cache/options directory
#.vscode/


# Pico Pio project specific, auto generated
*.pio.h


# other
VC5_schematic_old/
3D_model/
Downloads/
.obsidian/

# temp
Documents/


